/nbproject/private/
/GestionProjetNTDP-ejb/nbproject/private/
/GestionProjetNTDP-war/nbproject/private/
/GestionProjetNTDP-ejb/dist/
/GestionProjetNTDP-ejb/build/
/GestionProjetNTDP-war/dist/
/GestionProjetNTDP-war/build/
/build/